
@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Nunito&display=swap');

::-webkit-scrollbar {
    display: none;
}

::-webkit-input-placeholder {
    font-family: 'Kite One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body, main {
    height: 100vh;
    background: #fefefe;
}

body {
    color: white;
    width: 100vw;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
}

main {
    width: calc(100vw - 15px);
    margin: 0 auto;
    box-shadow: 1px 1px 5px #a1a1a1, -1px -1px 5px #a1a1a1;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;    
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #008080;
}

footer a {
    color: #008080;
   
}

header {
    font-weight: bold;
    padding: 40px 0 30px 0;
    position: relative;
}

div.body {
    display: grid;
    grid-template-columns: 1fr;
    width: calc(100% - 20px);
    margin: 10px auto;
    box-shadow: 1px 1px 5px #727272;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

footer {
    padding: 30px 0 40px 0; 
    font-family: 'Kite One', sans-serif;  
}


/*===============
    Inside header
================*/
h1.header {
    font-size: 1.8em;
    margin: 0 0 20px 0;
    font-family: 'Kite One', sans-serif;  
}

button.installButton {
    background: transparent;
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 18.5%;
}

button.installButton:focus {
    outline: none;
}

svg.installButton__svg {
    width: 60px;
    height: 60px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

svg.installButton__svg:hover {
    width: 63px;
    height: 63px;
}

form label {
    display: block;
    font-size: 1.1em;
    height: 0px;
    overflow: hidden;
}

form input {
    max-width: 200px;
    color: rgb(82, 82, 82);
    border-bottom: 2px solid #008080;
    font-size: 1.2em;
    padding: 5px 0 5px 5px;
    outline: none;
    font-family: 'Nunito', sans-serif;
}


/*=================
    Inside div.body
==================*/
section.main {
    background: #0eaaaa;
    padding: 20px 0;
}

section.current,
section.welcome,
section.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.current,
section.loader,
section.forecast {
    height: 0px;
    overflow: hidden;
}

div.current__city {
    max-width: 85%;
    text-align: center; /*For long cities*/
    font-size: 1.6em;
    margin: 0 0 5px 0;
}

div.current__day {
    font-size: 0.9em;
}

div.current__temp {
    font-size: 5em;
    font-weight: bold;
    text-shadow: 2px 3px rgb(1, 105, 105, 0.8);
}

div.current__temp span{
    font-weight: 500;
}

div.current__icon {
    width: 100px;
    height: 104px;
    margin: -18px 0 0 0;
}

div.current__weather {
    font-size: 1.3em;
    font-weight: 700;
    text-shadow: 0px 2px rgb(1, 105, 105, 0.4);
    margin: -18px 0 0 0;
}

section.welcome {
    padding: 20px 0;
}

svg.welcome__svg {
    width: 150px;
    height: 150px;
    padding: 0 0 20px 0;
}

div.welcome__message {
    max-width: 85%;
    font-size: 1.1em;
    text-align: center;
    padding: 5px 10px;
    background: #008080;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

svg.loader__svg {
    width: 200px;
    height: 200px;
    padding: 0 0 10px 0;
}

div.loader__message {
    padding: 5px 10px;
    background: #008080;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

section.forecast {
    padding: 10px 0;
    background: #0eaaaa;
    height: unset;
    overflow: visible;
}

div.daily {
    opacity: 0.5;
    background: #fefefe;
    color: teal;
    margin: 0 -10px 10px 10px;
    box-shadow: 1px 1px 5px #727272;
    display: flex;
    align-items: center;
    height: 100px;
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
}

div.daily__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #01a7a7;
    color: white;
    flex-direction: column;
    box-shadow: 1px 1px 5px #727272;
    height: 80px;
    width: 105px;
    margin: 0 0 0 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

img.small-icon {
    width: 75%;
    margin: -18px 0 0 0;
}

div.daily__weather {
    margin: -15px 0 0 0;
}

div.daily__forecast {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 20px;
}

div.daily__forecast > * {
   font-size: 0.9em;
}

div.daily__date {
    font-weight: bold;
    font-size: 1em;
    margin: 0 0 4px 0;
}



@media (min-width: 350px) {
    button.installButton {
        right: 8%;
    }

    section.forecast {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
    }

    div.daily {
        width: 300px;
    }
}

@media (min-width: 500px) {
    h1.header {
        font-size: 1.9em;
    }

    button.installButton {
        right: 12%;
    }

    section.forecast {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
    }
    
    div.daily {
        width: 300px;
    }
}

@media (min-width: 650px) {
    svg.welcome__svg {
        width: 180px;
        height: 180px;
    }
}


@media (min-width: 750px) {
    h1.header {
        font-size: 2em;
    }

    div.body {
        grid-template-columns: 1fr 300px;
    }

    section.forecast {
        padding: 20px 0;
        display: block;
        height: unset;
        overflow: visible;
    }

    div.daily {
        width: 100%;
    }

    div.daily:nth-last-child(1) {
        margin: 0 -10px 0 10px;
    }
}

@media (min-width: 950px) {
    main {
        max-width: 1290px;
    }

    div.body {
        grid-template-columns: 1fr 350px;
    }
}

@media (min-width: 1285px) {
    html, body {
        background: #0eaaaa;
    }
}
